.linker-suffix-icon {
    user-select: none;
}

.linker-settings-text-box {
    min-width: 200px;
    min-height: 60px;
}


.virtual-link-container:hover .multiple-files-references {
    display: inline;
}
.virtual-link-container:hover .multiple-files-indicator {
    display: none;
}

.multiple-files-references {
    display: none;
}

.multiple-files-indicator {
    display: inline;
}
